body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
#maincolumn {
  display: inline;
  float: left;
  width: 70.96692881629362%;
  margin: 0 2.016535591853196%;
}
#sidebar {
  display: inline;
  float: left;
  width: 20.96692881629361%;
  margin: 0 2.016535591853196%;
}
#siteFooter {
  display: inline;
  float: left;
  width: 70.96692881629362%;
  margin: 0 2.016535591853196%;
}
body {
  line-height: 1.725em;
  color: #111;
  font-family: "Gentium Basic", serif;
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
}
a {
  color: #438099;
  text-decoration: none;
  border-bottom: 1px dotted #438099;
}
a:visited {
  color: #438099;
}
a:hover {
  color: #438099;
}
a:active {
  color: red;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  color: #222;
}
h1 {
  font-size: 1.75em;
}
h1 a,
h2 a,
h3 a {
  border-bottom: 0px;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.15em;
}
pre {
  line-height: 1.25em;
  margin-bottom: 1.25em;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #dedede;
  padding: 0.5em;
  font-family: monospace;
  font-size: 1.25em;
}
dt {
  font-style: italic;
}
dd {
  padding-left: 1em;
  margin-bottom: 0.5em;
}
object {
  margin-top: 1em;
  margin-bottom: 1em;
}
.centered {
  margin: auto auto;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
#siteTitle {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#siteTitle h1 {
  font-weight: 600;
}
#siteTitle a {
  color: inherit;
  text-decoration: none;
}
#siteTitle nav {
  margin-top: 0.75em;
}
#siteTitle nav a {
  margin-right: 1.75em;
  font-family: "Dosis", sans-serif;
}
#maincolumn {
  padding-bottom: 30px;
}
#maincolumn h3 {
  margin-top: 15px;
}
#maincolumn p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#maincolumn ul,
#maincolumn ol {
  margin: 1em 0px;
  padding-left: 40px;
}
#maincolumn ul {
  list-style-type: disc;
}
#maincolumn ol {
  list-style-type: decimal;
}
#maincolumn table {
  margin: 1em 0em;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
#maincolumn td,
#maincolumn th {
  border-top: 1px solid #ddd;
  padding: 5px 20px;
  text-align: left;
}
#maincolumn th {
  padding: 5px 20px;
  text-align: left;
  background-color: #eee;
}
#sidebar h3 {
  margin-bottom: 10px;
}
#sidebar ul {
  margin-bottom: 10px;
}
#sidebar li {
  font-size: 0.9em;
  margin-bottom: 10px;
  line-height: 1.25em;
}
#sidebar .widget {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#maincolumn ul.dated {
  list-style-type: none;
  padding-left: 0px;
}
.secondary {
  font-size: 0.8em;
  line-height: 1.0em;
}
.blogPostMeta {
  font-size: 0.8em;
  color: #999;
  line-height: 1.1em;
}
.blogPostMeta a {
  color: #999;
}
.blogPostTitle,
.pageTitle {
  border-bottom: 1px solid #ccc;
  color: #338866;
}
.blogPostTitle a,
.pageTitle a {
  text-decoration: none;
  color: inherit;
}
img.inlineRight {
  border: 1px solid #444;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.githubIcon {
  background: url("../images/github_icon.png") no-repeat 0% 50%;
  padding-left: 20px;
}
.twitterIcon {
  background: url("../images/twitter_icon.png") no-repeat 0% 50%;
  padding-left: 20px;
}
.feedIcon {
  background: url("../images/feed_icon.png") no-repeat 0% 50%;
  padding-left: 20px;
}
.emailIcon {
  background: url("../images/email_icon.png") no-repeat 0% 50%;
  padding-left: 20px;
}
body .gist pre {
  font-family: monospace;
  font-size: 1.0em;
}
body .gist-meta {
  font-family: "Gentium Basic", serif;
}
body .gist-file,
#content .gist-data {
  background-color: #f0f0f0;
  font-family: monospace;
}
#siteFooter {
  margin-bottom: 30px;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}
