body {
    line-height: 1.4em;
    color: #555;
    font-family: "Tinos", serif;
    font-size: 1.1em;
    background-color: #ddd;
}

a {
    color: #5050b0;
}

a:visited {
    color: #8050b0;    
}

a:hover {
    color: #5050e0;
}

a:active {
    color: red;
}

h1,h2,h3,h4,h5,h6,th {
    font-weight: normal;
    font-family: "Nobile", sans-serif;
    color: #222;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

pre {
    line-height: 1.1em;
    margin-bottom: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #dedede;
}

dt {
    font-style: italic;
}

dd {
    padding-left: 1em;
    margin-bottom: 0.5em;
}

object {
    margin-top: 1em;
    margin-bottom: 1em;
}

.centered {
    margin: auto auto; 
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#wrapper {

}

#header {
    margin-top: 1em;
    margin-bottom: 1em;
}

#siteTitle {
    font-size: 2.25em;
    font-weight: bolder;
    font-size: 3em;
    position: relative;
    top: 10px;
    text-shadow: white 1px 1px 2px;
}

#siteTitle img {
    vertical-align: middle;
}

#siteTitle a {
    color: inherit;
    text-decoration: none;
}

#siteSubtitle {
    text-align: right;
    font-size: 1em;
    color: #555;
    line-height: 64px;
    position: relative;
    top: 10px;
}

#content {
    min-height: 1024px;
    background-color: white;
    padding-bottom: 40px;
    -webkit-box-shadow: #999 1px 1px 10px;
    -moz-box-shadow: #999 1px 1px 10px;
    -o-box-shadow: #999 1px 1px 10px;
}

#main h3 {
    margin-top: 15px;
}

#main p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#main ul, #main ol {
    margin: 1em 0px;
    padding-left: 40px;
}

#main ul {
    list-style-type: disc;
}

#main ol {
    list-style-type: decimal;
}

#main table {
    margin: 1em 0em;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

#main td, #main th {
    border-top: 1px solid #ddd;
    padding: 5px 20px;
    text-align: left;
}

#main th {
    padding: 5px 20px;
    text-align: left;
    background-color: #eee;
}

#content #menu {
	list-style: none;
	margin-top: 1em;
	margin-bottom: 1em;
}

#content #menu li {
	float: left;
	margin: 0 35px 0 0;
	padding: 5px;
	position: relative;
}

#content #menu a {
    color: inherit;
    text-decoration: underline;
}

#content #menu .menuCurrent {
    -webkit-border-top-left-radius: 15px 10px;
    -webkit-border-bottom-right-radius: 15px 10px;
    -moz-border-radius-topleft: 15px 10px;
    -moz-border-radius-bottomright: 15px 10px;
    -o-border-top-left-radius: 15px 10px;
    -o-border-bottom-right-radius: 15px 10px;    
    border-top-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;    
    background-color: #eee;
}

#sidebar h3 {
    margin-bottom: 10px;
}

#sidebar ul {
    margin-bottom: 10px;
}

#sidebar li {
    font-size: 0.9em;
    margin-bottom: 10px;
    line-height: 1.25em;
}

#sidebar .widget {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#sidebar #tags .tag0 {
    font-size: 0.8em;
}

#sidebar #tags .tag1 {
    font-size: 0.9em;
}

#sidebar #tags .tag2 {
    font-size: 1.0em;
}

#sidebar #tags .tag3 {
    font-size: 1.1em;
}

#sidebar #tags .tag4 {
    font-size: 1.2em;
}

#sidebar #tags .tag5 {
    font-size: 1.3em;
}

#greader div.f, 
#sidebar .secondary {
    font-size: 0.8em;
}

#footer {
    padding-top: 10px;
    font-size: 0.8em;
}

#blogofile {
    text-align: right;
}

.blogPostMeta {
    font-size: 0.8em;
    color: #999;
}

.blogPostMeta a {
    color: #999;
}

.blogPostTitle a {
    text-decoration: none;
    color: #222;
}

.blogPostRule {
    margin-bottom: 1em;
    border-width: 0px;
    border-top: 1px solid #ddd;
}

img.inlineRight {
    border: 1px solid #444;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.githubIcon {
    background: url("../images/github_icon.png") no-repeat 0% 50%;
	padding-left: 20px;
}

.twitterIcon {
    background: url("../images/twitter_icon.png") no-repeat 0% 50%;
	padding-left: 20px;
}

.feedIcon {
    background: url("../images/feed_icon.png") no-repeat 0% 50%;
	padding-left: 20px;
}

.emailIcon {
    background: url("../images/email_icon.png") no-repeat 0% 50%;
	padding-left: 20px;
}

#content .gist pre {
    font-family: monospace;
}

#content .gist-meta {
    font-family: "Tinos", serif;
}

#content .gist-file, #content .gist-data {
    background-color: #f0f0f0;
    font-family: monospace;
}