.anchor-link {
    display: none;
}

.text_cell .prompt {
    display: none;
}

.text_cell .inner_cell {
    margin-left: 0;
}

.prompt {
    float: left;
    font-size: 0.8em;
}

.input_prompt {
    color: #000080;
}

.output_prompt {
    color: #8b0000;
}

.inner_cell {
    margin-left: 4em;
}

.input_area pre {
    background-color: #fafafa;
    font-size: 0.75em;
}

.output_subarea {
    margin-left: 4em;
}

.output_subarea pre {
    border-width: 0;
    background-color: transparent;
    font-size: 0.75em;
}

.output_subarea th,
.output_subarea td,
.output_subarea table {
    padding: 4px;
    border: 1px solid black;
}

.output_subarea th {
    font-weight: bold;
}

.output_subarea img {
    max-width: 100%;
}

.output_html .dataframe {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
}

.output_html {
    overflow-x: auto;
}