@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

body {
    font-family: "Gentium Basic", serif;
    font-size: 2.125em;
}

h1,h2,h3,h4,h5,h6,th {
    font-weight: normal;
    font-family: "Dosis", sans-serif;
    color: #222;
}

a {
    color: #438099;
    text-decoration: none;
}

a:visited {
    color: #438099;
}

a:hover {
    color: #438099;
}

a:active {
    color: red;
}

code {
    color: #338866;
    background-color: #fafafa;
    font-size: 0.8em;
}

iframe {
    border: 0px solid white;
}

#siteTitle {
    margin-bottom: 30px;
    margin-top: 30px;
}

#siteTitle h1 {
    font-weight: 600;
}

#siteTitle a {
    color: inherit;
    text-decoration: none;
}

#siteTitle nav {
    margin-top: 0.75em;
}

#siteTitle nav a {
    margin-right: 1.75em;
    font-family: "Dosis", sans-serif;
}

#siteMeta ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#siteMeta.row {
    padding-top: 0;
    margin: 0;
}

#siteMeta.row > div {
    padding-left: 0;
}

#siteMeta h3 {
    margin-top: 30px;
}

#pageMeta {
    margin-top: 30px;
}

#pageMeta .excerpt {
    font-style: italic;
}

#siteFooter {
    padding-top: 1em;
    font-size: 0.6em;
}

#mainColumn p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#mainColumn ul, #maincolumn ol {
    margin: 1em 0px;
}

.fa {
    padding-right: 0.5em;
}

.footerSection {
    font-size: 0.9em;
    padding: 30px 0px;
    border-top: 1px solid #ddd;
}

.footnote {
    font-size: 0.7em;
}

body .gist {
    font-family: monospace;
    font-size: 0.6em;
}

.centered {
    text-align: center;
}

.bordered {
    border: 1px solid #ddd;
    padding: 5px;
}

.rounded {
    -moz-border-radius: 64px;
    border-radius: 64px;
    border: 1px solid #ddd;
    padding: 5px;
}

.inlineRight {
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
}

.nextPage {
    font-size: 0.9em;
}

.pageTitle {
    border-bottom: 1px solid #ccc;
    color: #338866;
}

.pageDate {
    font-size: 0.8em;
    color: #999;
    line-height: 1.1em;
}

.githubIcon {
    background: url("../images/github_icon.png") no-repeat 0% 50%;
    padding-left: 20px;
}

.twitterIcon {
    background: url("../images/twitter_icon.png") no-repeat 0% 50%;
    padding-left: 20px;
}

.emailIcon {
    background: url("../images/email_icon.png") no-repeat 0% 50%;
    padding-left: 20px;
}

.archiveList {
    list-style-type: none;
    padding-left: 0px;
}

.archiveList .yearBreak {
    margin-top: 1em;
}

.archiveList .date {
    color: #888;
}

.archiveList .yearBreak .year {
    font-weight: bold;
    color: black;
}
